body{
  background-color: #090b1a;
  color: #ffff;
}
.inner-card{
  width: 75%;
  margin: 150px;
  background-color: #1b1938;
}
.image-part-top{
  display: none;
}
.title-img{
  margin: 0;
  opacity: 0.4;
  filter: contrast(110%) brightness(130%) ;
}
.image-part-bottom{
  padding: 0;
  position: relative;
  right: -38px;
  width: 540px;
  background-color:	#3f1056;
}

.text-part{
  padding: 4.5rem 4.5rem 2.5rem 5.5rem;
}
h1{
  font-family: 'Inter', sans-serif;
  font-weight: 700;

}
h3{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.highlight-text{
  color: 	#aa5cdb;
}

p{
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  opacity: 0.6;
  font-size: 15px;
}
.main-para{
  margin: 2rem 0;
  padding-right: 5rem;
}
.stat-heading{
  padding-top: 2rem;
  margin-bottom: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}
.stat-subhead{
  font-size: 12px;
  opacity: 0.6;
}

/* For Mobile */
@media only screen and (max-width: 800px) {
  .inner-card{
    margin-left: 1rem;
    margin-top: 6rem;
    width: 85%;
    text-align: center;
    padding-bottom: 0;
  }
  .text-part{
    padding: 4.5rem 3.5rem 2.5rem 5rem;
  }
  .main-para{
    padding-right: 0.5rem;
  }
  .stat-subhead{
    margin-bottom: 2rem;
  }
  .image-part-top{
    padding: 0;
    margin: 0;
    width: 94%;
    display:block;
    left: 3%;
    position: relative;
    background-color:	#3f1056;
  }
  .image-part-bottom{
    display: none;
  }
  .title-img{
    position: relative;
    width: 100%;
    margin: 0;
    opacity: 0.4;
    filter: contrast(110%) brightness(130%) ;
  }

}
