body {
  background-color: #090b1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/************************************* For Mobile / Small Screen Width **********************************/
.card {
  margin: 4rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 350px;
  text-align: center;
  background-color: #1b1938;
}

/****************************************** Top Block of Card *********************************************/
.card-figure {
  border-radius: 0.7rem 0.7rem 0 0;
  background-color: #aa5cdb;
  max-width: 100%;
  height: auto;
}

.card-image-top {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

/****************************************** Bottom Block of Card **********************************************/
.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.6rem;
}

.card-title {
  margin: 0.7rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.card-text {
  font-family: 'Inter', sans-serif;
  padding: 0 0.5rem;
  opacity: 0.6;
  font-size: 1rem;
  margin-bottom: 2rem;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-size: 13px;
  font-family: 'Lexend Deca', sans-serif;
  opacity: 0.6;
  letter-spacing: 0.1rem;
}

span {
  color: #aa5cdb;
}

.stats-heading {
  margin-bottom: 2rem;
}

/********************************************** Larger Screen Size  ****************************************/
@media only screen and (min-width:1200px) {
  .card {
    border-radius: 0.4rem;
    margin: 8rem 2rem;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
  }

  /******************************************* Left Side of Card *********************************************/
  .card-body {
    margin: 0 1.5rem;
    order: 1;
    padding: 3rem 3rem 2rem 3rem;
    text-align: left;
    flex: 1;
    max-width: 50%;
  }

  .card-text {
    margin-top: 1.5rem;
    padding-right: 3rem;
    font-size: 15px;
  }

  .stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }

  .stats-heading {
    margin: 3rem 2rem 0 2rem;
  }

  /****************************************** Right Side of Card ************************************/
  .card-figure {
    margin: 0;
    border-radius: 0 0.4rem 0.4rem 0;
    order: 2;
    flex: 1
  }
}
