/***************************************************** Mobile First  ********************************************/

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 100%, 74%);
}
main {
  height: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url('images/bg-intro-mobile.png');
  background-size: contain;
  background-position: left -50px top 1000px;
}

h1 {
  color: #ffffff;
  font-weight: 700;
}
p {
  margin: 2rem 0 4rem 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

/********************************************************* Para Section  ********************************************/

.para-section {
  width: 80%;
  max-width: 500px;
  margin: 5rem auto 2rem auto;
}
.trial-button {
  border-radius: 10px;
  background-color: hsl(248, 32%, 49%);
  font-size: 15px;
  width: 80%;
  max-width: 500px;
  padding: 1rem 5rem;
  margin: 0;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}
.trial-button:hover {
  background-color: hsl(248, 97%, 69%);
}
.trial {
  font-weight: 600;
}

/********************************************** Card Section  ******************************************/

.card {
  max-width: 500px;
  border-radius: 10px;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

input[type='text'] {
  margin-top: 0.8rem;
  width: 100%;
  padding: 0.7rem 0 0.7rem 1rem;
  border: 2px solid lightgrey;
  border-color: lightgrey;
  border-radius: 5px;
  color: hsl(246, 25%, 77%);
  opacity: 1;
}
::placeholder {
  font-weight: 700;
  font-size: 14px;
  color: grey;
}
input[type='text']:focus {
  outline: none;
  border-color: hsl(249, 10%, 26%);
}
.text-boxes {
  margin: 1rem 0.5rem;
}
.claim-btn {
  background-color: hsl(154, 59%, 51%);
  border: none;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0;
}
.claim-btn:hover {
  background-color: hsl(154, 70%, 58%);
}
.card-footer-section {
  margin: 0 0.5rem;
}
.footer-para {
  margin: 0.7rem 2rem 1rem 2rem;
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  font-weight: 700;
  opacity: 0.8;
}
.footer-span {
  color: hsl(0, 100%, 74%);
}

/********************************************* Error Validation Section  ***************************************/

.error-msg-fname,
.error-msg-lname,
.error-msg-email,
.error-msg-password {
  color: hsl(0, 100%, 74%);
  margin-top: 0.2rem;
  margin-right: 0.8rem;
  font-size: 10px;
  font-weight: 600;
  display: none;
}
.error-msg {
  text-align: right;
}
.error-logo {
  background-image: url('images/icon-error.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 95% top 13px;
}

/***************************************** For Larger Screen  **************************************/

@media only screen and (min-width: 1100px) {
  main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    background: url('images/bg-intro-desktop.png');
    background-size: contain;
  }
  .trial-button {
    width: 100%;
  }
  .para-section {
    text-align: left;
  }
  input[type='text'] {
    width: 95%;
  }
  .claim-btn {
    width: 95%;
  }
  .card-section {
    margin: 7rem 12rem 7rem 0;
  }
  .card {
    width: 100%;
  }
  .footer-para {
    margin: 0.7rem 1rem 2rem 1rem;
  }
}
