body {
  background-color: #19a2ae;
  font-family: 'Kumbh Sans', sans-serif;
}

/******************************************** Background **********************************************/
.bg {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-img-1 {
  position: absolute;
  right: 52%;
  bottom: 40%;
}

.bg-img-2 {
  position: absolute;
  left: 50%;
  top: 50%;
}

/******************************************** Card Cover Image ****************************************/
.card {
  margin: 11.5rem 0;
  width: 350px;
  border-radius: 16px;
  box-shadow: 10px 10px 100px 1px rgba(0, 0, 0, 0.3);

}

.card-img-top {
  position: relative;
  z-index: 0;
  border-radius: 16px 16px 0 0;
}

/********************************************* Profile Area ******************************************/
.profile-img {
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 22%;
  left: 35%;
}

.card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 16px 12px 16px;
}

.card-title {
  margin-top: 56px;
}

/******************************************** HTML Elements *************************************/
h5 {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2d3248;
}

hr {
  opacity: 0.1;
}

p {
  font-weight: 400;
  font-size: 15px;
  color: #6a6f81;
}

span {
  opacity: 0.9;
  font-weight: 400;
}

/****************************************** Card Footer ***********************************/
.bottom-text {
  font-size: 12px;
  letter-spacing: 1.5px;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
