body {
  font-family: 'Libre Franklin', sans-serif;
}
main {
  text-align: center;
}

/******************************************************** Headings  ******************************************/

.headings {
  margin: 5rem 3rem 3rem 3rem;
}
h1 {
  font-size: 1.7rem;
  color: hsl(0, 0%, 59%);
}
strong {
  color: hsl(209, 33%, 12%);
}
.ping {
  color: hsl(209, 33%, 12%);
  font-weight: 700;
  margin-bottom: 3rem;
}
p {
  color: hsl(209, 33%, 12%);
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 600;
}
span {
  color: hsl(223, 87%, 63%);
}

/************************************************************* Email Box  ************************************************/

input[type='email'] {
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 25px;
  width: 70%;
  padding: 0.5rem 1.5rem;
  margin: 0.7rem 0 0 0;
}
input[type='email']:focus {
  outline: none;
  border: 2px solid hsl(223, 97%, 72%);
}
::placeholder {
  font-size: 14px;
  color: hsl(223, 100%, 88%);
}
.notify-btn {
  font-size: 15px;
  background-color: hsl(223, 87%, 63%);
  border-radius: 25px;
  width: 70%;
  padding: 0.5rem 0;
  margin-top: 0.7rem;
  box-shadow: 0 10px 20px rgba(93, 104, 211, 0.2);
}

/************************************************************ Image Section  ******************************************/

.image-part {
  margin: 5rem 3rem 8rem 3rem;
}
.dashboard-img {
  width: 100%;
  max-width: 600px;
}

/************************************************************ Footer Section  *******************************************/

.social {
  border: 1px solid lightgrey;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 1rem 0.5rem;
  display: inline-block;
}
.social:hover {
  background-color: hsl(223, 87%, 63%);
  color: #fff;
}
.fab {
  color: hsl(223, 87%, 63%);
  margin-top: 9px;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin-bottom: 3rem;
}

/******************************************************** Error Message  ******************************************/

.error-msg {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 12px;
  display: none;
  color: hsl(354, 100%, 66%);
}

/******************************************************** For Larger Screen  *******************************************/

@media (min-width: 800px) {
  .ping {
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 20px;
  }

  /******************************************************* Email Box & Button  *******************************************/

  .input-email {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  input[type='email'] {
    margin-top: 0;
    width: 170%;
    max-width: 430px;
    padding: 0.7rem 1.5rem;
    display: inline-block;
  }
  .email-box {
    display: inline-block;
  }
  input[type='submit'] {
    margin-top: 0;
    margin-left: 192px;
    max-width: 150px;
    padding: 0.7rem 0;
    display: inline-block;
  }

  .image-part {
    margin: 4rem 3rem 3rem 3rem;
  }
}
